<ion-view view-title="About us">
  <ion-content>
      <div class="card">
		<div class="item item-divider">
            Developed by
        </div>
		<ion-list>
			<ion-item class="item-thumbnail-left item-avatar item-text-wrap inset-style">
				<img src="img/yogesh.jpg">
				<h2>Yogesh Adhikari</h2>
				<span style="font-size:75%">Software Developer at Verisk Nepal.</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</ion-item>
            <ion-item class="item-thumbnail-left item-avatar item-text-wrap inset-style">
				<img src="img/ramesh.jpg">
				<h2>Ramesh Bhandari</h2>
				<span style="font-size:75%">Lecturer at Khowpa Engineering College.</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</ion-item>
		</ion-list>
       </div>
  </ion-content>
</ion-view>