<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Select section and subject</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSelectSection()" style="color:#000"><i class="ion-close-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Section</span>
          <select ng-model="attendance.section" convert-to-number>
			<option ng-repeat="section in sections" value= {{section.id}}>{{section.name}}</option>
		  </select>
        </label>
       <label class="item item-input item-select">
          <span class="input-label">Subject</span>
          <select ng-model="attendance.subject" convert-to-number>
			<option ng-repeat="subject in subjects" value= {{subject.id}}>{{subject.name}}</option>
		  </select>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="getStudents()">Get Students</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>